@import url(/styles/apresentacao.css);
@import url(/styles/header.css);

:root {
  --cor-principal:  #FF66C4 ;
  --cor-2: #D09EFF ;
  --cor-3:#80CEFF ;
  --cor-4:#32F4FF;
  --cor-preto:#000000;
  --cor-branco:#ffffff;

}
